<a href="https://colab.research.google.com/github/Midmost/Midmost.github.io/blob/main/n112_%EC%A1%B0%ED%9D%AC%EC%A7%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# ë³€ìˆ˜ ì„¤ì •:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g.csv')
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [ ]:
print(df.shape)

(5, 25)

In [ ]:
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g.csv", index_col=0)
print(df.shape)
df.head()

(5, 24)

          ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€) ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›) PER(ë°°)
ë¶„ê¸°                                        ...
19/6   12,578  3,991      3,991    4,452  ...  31.43  803.22   2,351  13.77
19/9   13,222  3,825      3,825    4,503  ...  24.17  836.86   2,337  13.87
19/12  11,982  2,523      2,523    1,794  ...  23.04  850.82     873  12.42
20/3   11,784  3,150      3,150    4,156  ...  29.69  823.16   2,134   9.71
20/6   13,188  3,947      3,947    4,020  ...  26.91  837.40   2,135  10.46

[5 rows x 24 columns]

In [23]:
# ì˜ì—…ì´ìµë¥ ì„ ê³„ì‚°í•˜ë¼ëŠ”ê²Œ...
# ì˜ì—…ì´ìµë¥  = ì˜ì—…ì´ìµ / ë§¤ì¶œì•¡ (operation margin = op profit / net saales)
# csvëŠ” ì˜ì–´ê¸°ì¤€, csvëŒ€ë¡œ ë‹¤ì‹œ ì •ë¦¬í•˜ë©´...ì—¥ ì•„ë‹ˆë„¤...?ë­ì§€;;;; ì™œ ì•¡ì…€ë¡œ ì—´ë©´ ë‹¤ë¥¸ íŒŒì¼ì´ ë‚˜ì˜¤ì§€
#df['ì˜ì—…ì´ìµë¥ '] = df['ì˜ì—…ì´ìµ'] / df['ë§¤ì¶œì•¡'] ì•„ë‹ˆë„¹
#df['ì˜ì—…ì´ìµë¥ '] = df['ì˜ì—…ì´ìµ']/df['ë§¤ì¶œì•¡'] ìŠ¤íŠ¸ë§ìœ¼ë¡œ ì½ì–´ì„œ ì•ˆ ë˜ëŠ” ê±°ë˜....ì•„...í˜•ë³€í™˜ì´ ì—¬ê¸°ì„œ ë‚˜ì˜¤ë‚˜ë´„...
df = df.replace(',','', regex=True)
# df['ì˜ì—…ì´ìµë¥ '] = df['ì˜ì—…ì´ìµ']/df['ë§¤ì¶œì•¡']

# convert 'col_str_1' and 'col_str_2' to numeric
#pd.to_numeric(df, downcast='float') ì—ëŸ¬ ëœ¸

df = df.apply( pd.to_numeric, errors='coerce' )
df

         ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)
ë¶„ê¸°                                        ...
19/6   12578  3991        3991      4452  ...  31.43  803.22    2351   13.77
19/9   13222  3825        3825      4503  ...  24.17  836.86    2337   13.87
19/12  11982  2523        2523      1794  ...  23.04  850.82     873   12.42
20/3   11784  3150        3150      4156  ...  29.69  823.16    2134    9.71
20/6   13188  3947        3947      4020  ...  26.91  837.40    2135   10.46

[5 rows x 24 columns]

In [22]:
df.dtypes

ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)      int64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ        int64
ë‹¹ê¸°ìˆœì´ìµ           int64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)       int64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„            int64
ë¶€ì±„ì´ê³„            int64
ìë³¸ì´ê³„            int64
ìë³¸ì´ê³„(ì§€ë°°)        int64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ             int64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„        int64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„        int64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„        int64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)          int64
PER(ë°°)        float64
dtype: object

In [26]:
#ê·¼ë° í†µì¼ ì‹œì¼œì•¼ í•  ê±° ê°™ì€ë°...
df = df.astype(float)
df

           ë§¤ì¶œì•¡    ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)
ë¶„ê¸°                                            ...
19/6   12578.0  3991.0      3991.0    4452.0  ...  31.43  803.22  2351.0   13.77
19/9   13222.0  3825.0      3825.0    4503.0  ...  24.17  836.86  2337.0   13.87
19/12  11982.0  2523.0      2523.0    1794.0  ...  23.04  850.82   873.0   12.42
20/3   11784.0  3150.0      3150.0    4156.0  ...  29.69  823.16  2134.0    9.71
20/6   13188.0  3947.0      3947.0    4020.0  ...  26.91  837.40  2135.0   10.46

[5 rows x 24 columns]

In [27]:
df.dtypes

ë§¤ì¶œì•¡           float64
ì˜ì—…ì´ìµ          float64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)    float64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ      float64
ë‹¹ê¸°ìˆœì´ìµ         float64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)     float64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)    float64
ìì‚°ì´ê³„          float64
ë¶€ì±„ì´ê³„          float64
ìë³¸ì´ê³„          float64
ìë³¸ì´ê³„(ì§€ë°°)      float64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ           float64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„      float64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„      float64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„      float64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)        float64
PER(ë°°)        float64
dtype: object

In [33]:
df['ì˜ì—…ì´ìµë¥ '] = df['ì˜ì—…ì´ìµ']/df['ë§¤ì¶œì•¡']*100
df

           ë§¤ì¶œì•¡    ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  PDR
ë¶„ê¸°                                            ...
19/6   12578.0  3991.0      3991.0    4452.0  ...  803.22  2351.0   13.77    0
19/9   13222.0  3825.0      3825.0    4503.0  ...  836.86  2337.0   13.87    0
19/12  11982.0  2523.0      2523.0    1794.0  ...  850.82   873.0   12.42    0
20/3   11784.0  3150.0      3150.0    4156.0  ...  823.16  2134.0    9.71    0
20/6   13188.0  3947.0      3947.0    4020.0  ...  837.40  2135.0   10.46    0

[5 rows x 25 columns]

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [42]:
#df['PDR'] = int(13935188445500)/15ì¡°*62
df['PDR'] = int(13935188445500)/int(15000000000000)*float(62)

for i in df.index:
    df.at[0, "PDR"] = int(13935188445500)/int(15000000000000)*float(62)
    df.at[1, 'PDR'] = int(12878036218600)/int(15000000000000)*float(62)

In [43]:
df2 = df['PDR']
df2

ë¶„ê¸°
19/6     57.598779
19/9     57.598779
19/12    57.598779
20/3     57.598779
20/6     57.598779
0        57.598779
1        53.229216
Name: PDR, dtype: float64

In [49]:
df

           ë§¤ì¶œì•¡    ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...  PER(ë°°)        PDR  (3.1666666666666665, ë§¤ì¶œì•¡)
ë¶„ê¸°                                 ...
19/6   12578.0  3991.0       3991  ...   13.77  57.598779                      12578
19/9   13222.0  3825.0        dev  ...   13.87  57.598779                      12578
19/12  11982.0  2523.0       2523  ...   12.42  57.598779                      12578
20/3   11784.0  3150.0       3150  ...    9.71  57.598779                      12578
20/6   13188.0  3947.0       3947  ...   10.46  57.598779                      12578
0          NaN     NaN        NaN  ...     NaN  57.598779                      12578
1          NaN     NaN        NaN  ...     NaN  53.229216                      12578

[7 rows x 26 columns]

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [78]:
df.iloc[0, 0] = int(12578)
df.dtypes
#ì™œ ì˜¤ë¸Œì íŠ¸ë¡œ ë°”ë€Œì–´ ë§¤ì¶œì•¡...?
df= df.apply( pd.to_numeric, errors='coerce' )
#df.drop(df.index[:27])
df

           ë§¤ì¶œì•¡    ì˜ì—…ì´ìµ  ...        PDR  (3.1666666666666665, ë§¤ì¶œì•¡)
ë¶„ê¸°                      ...
19/6   12578.0  3991.0  ...  57.598779                      12578
19/9   13222.0  3825.0  ...  57.598779                      12578
19/12  11982.0  2523.0  ...  57.598779                      12578
20/3   11784.0  3150.0  ...  57.598779                      12578
20/6   13188.0  3947.0  ...  57.598779                      12578
0          NaN     NaN  ...  57.598779                      12578
1          NaN     NaN  ...  53.229216                      12578

[7 rows x 26 columns]

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [62]:
df.describe

<bound method NDFrame.describe of          ë§¤ì¶œì•¡    ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...  PER(ë°°)        PDR  (3.1666666666666665, ë§¤ì¶œì•¡)
ë¶„ê¸°                               ...
19/6   12578  3991.0       3991  ...   13.77  57.598779                      12578
19/9   13222  3825.0     3825.0  ...   13.87  57.598779                      12578
19/12  11982  2523.0       2523  ...   12.42  57.598779                      12578
20/3   11784  3150.0       3150  ...    9.71  57.598779                      12578
20/6   13188  3947.0       3947  ...   10.46  57.598779                      12578
0        NaN     NaN        NaN  ...     NaN  57.598779                      12578
1        NaN     NaN        NaN  ...     NaN  53.229216                      12578

[7 rows x 26 columns]>

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [64]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['ì˜ì—…ì´ìµë¥ 2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['ë§¤ì¶œì•¡'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [65]:
grade(df, df2)

KeyError: ignored

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.